<div class="container">
  <h1>Rechnungsdetails</h1>
  <div *ngIf="invoiceDetails" id="pdf-content">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th scope="row">Dienstanbieter:</th>
        <td>{{ invoiceDetails.transportServiceProvider.companyName }}</td>
      </tr>
      <tr>
        <th scope="row">Rechnungs-ID:</th>
        <td>{{ invoiceDetails.invoiceId }}</td>
      </tr>
      <tr>
        <th scope="row">Route-ID:</th>
        <td>{{ invoiceDetails.route.id }}</td>
      </tr>
      <tr>
        <th scope="row">Fahrzeug-ID:</th>
        <td>{{ invoiceDetails.route.vehicle.id }}</td>
      </tr>
      <tr>
        <th scope="row">Erstellt am:</th>
        <td>{{ invoiceDetails.createdDate | date:'medium' }}</td>
      </tr>
      <tr>
        <th scope="row">Strecke (km):</th>
        <td>{{ invoiceDetails.distance | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th scope="row">Adressen:</th>
        <td>
          <ul>
            <li *ngFor="let address of invoiceDetails.addresses; let i = index; let len = count; trackBy: trackByFn">
              {{ invoiceDetails.addresses[len - i - 1] }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Summe:</th>
        <td>{{ invoiceDetails.totalCost | currency:'EUR' }}</td>
      </tr>
      </tbody>
    </table>
    <div id="map"></div>
  </div>
  <div *ngIf="!invoiceDetails">
    <p>Loading invoice details...</p>
  </div>

  <div class="button-group">
    <button class="btn btn-primary" (click)="captureMap()">Für Export vorbereiten</button>
    <button class="btn btn-success" (click)="exportPageAsPDF()">Als PDF herunterladen</button>
  </div>
</div>

<style>
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .btn {
    margin-left: 10px;
  }
</style>
