header {
  box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

header h4 {
  line-height: 40px;
  margin: 0;
}

.logo {
  height: 40px;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #243454;
  font-weight: bold;
}

.nav-link {
  font-size: 20px;
}

button {
  margin-left: 12px;
  margin-right: 35px;
}

.body{
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-nav > li {
  padding-right: 20px;
  padding-left: 20px;
}

