<mat-toolbar class="custom-toolbar">
  <span>Willkommen</span>
</mat-toolbar>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="card icon-container">
        <a [routerLink]="['/listVehicle']">
          <img src="assets/fleet.png" alt="Fahrzeugflotte" class="img-size">
          <div class="icon-title">Fahrzeugflotte</div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card icon-container">
        <a [routerLink]="['/listRoute']">
          <img src="assets/routes.png" alt="Routen" class="img-size">
          <div class="icon-title">Routen</div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card icon-container">
        <a [routerLink]="['/listDriverLogs']">
          <img src="assets/driverslog.png" alt="Fahrtenblätter" class="img-size">
          <div class="icon-title">Fahrtenblätter</div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="card icon-container">
        <a [routerLink]="['/listInvoices']">
          <img src="assets/invoices.png" alt="Rechnungen" class="img-size">
          <div class="icon-title">Rechnungen</div>
        </a>
      </div>
    </div>
  </div>
</div>
